:root {
  --intro-title-color: #001628;
  --intro-link-color: #E0002E;
}

body {
  font-family:"Roboto", Arial, sans-serif;
}

.home {
  background: #000000;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

a {
  color: var(--intro-title-color);
  text-decoration: none;
}

.container {
  width: 100%;
  height: 97vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrapper {
  /* border: 1px solid red;*/
  padding: 8%;
}


#intro-title {
  font-family: "DM Mono", Arial, monospace;
  font-size: 4em;
  color: var(--intro-title-color);
  text-align: left;
  width: 7ch;
  /* border: 1px solid blue;*/
}

.blinking-cursor {
  display: inline-block;
  position: relative;
}

.blinking-cursor::after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 0.15em;
  left: calc(100%-1ch);
  position: absolute;
  background: var(--intro-title-color);
  animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
  width: 1ch;
}

.pseudo {
  color: var(--intro-title-color);
  text-decoration: none;
  display: inline-block;
  /* padding: 15px 20px;*/
  position: relative;
  transition: color 100ms ease;
}

.pseudo::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 13%;
  content: "";
  display: block;
  height: 0.15em;
  left: 84%;
  position: absolute;
  background: var(--intro-title-color);
  animation: under 1s 1 ease-in forwards 1s;
  width: 1ch;
  transition: background 100ms ease;
}

.pseudo:hover {
  color: var(--intro-link-color);
}

.pseudo:hover::after {
  background: var(--intro-link-color);
}

@keyframes "under" {
  0%   { width: 1ch; left: 84%;}
  100% { width: 6ch; left: 0;}
}

@-webkit-keyframes "under" {
  0%   { width: 1ch; left: 84%;}
  100% { width: 6ch; left: 0;}
}

@keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: var(--intro-title-color);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: var(--intro-title-color);
  }
}

.category {
  border: 1px solid green;
  width: 8em;
  padding: 0.2em;
  border-radius: 100%;
}

.category-icon {

}

img#portal {
  height: 80vh;
  position: absolute;
  z-index: -1;
}


.color-change {
  filter: hue-rotate(44deg);
}

.rotate {
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}



/* MEDIA QUERIES */

@media screen and (min-width: 400px)  {

  #intro-title {
     font-size: 15vw;
    /* border: 1px solid blue; */
  }

}

@media screen and (min-width: 600px)  {

  #intro-title {
    font-size: 5em;
    width: 13ch;
    /* border: 1px solid blue; */
  }

}

@media screen and (min-width: 1000px) {


}

@media screen and (min-width: 1400px) {

  #intro-title {
    font-size: 6.5vw;
    /* border: 1px solid blue; */
  }

}
