body {
  font-family: Helvetica, Arial, sans-serif;
}

header, main {
  margin: 2em;
}

h1 {
  margin-bottom: 0.2em;
}

h2 {
  margin-top: 0;
  color: grey;
}

input {
  margin-left: 5px;
  margin-right: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  width: 80vw;
  max-width: 1000px;
  /*border: 1px solid blue;*/
}

.flex-vertical {
  flex-direction: column;
}

.flex-child {
  width: 300px;
  margin: 1%;
  /* border: 1px solid green; */
}

.recipe-title {
  text-align: center;
}

.recipe-image {
  width: 100%;
  max-width: 500px;
}

.hint {
  font-size: 13px;
  margin-top: 5px;
  color: grey;
}

.failure {
  color: red;
}
