:root {
  --intro-title-color: #001628;
  --intro-link-color: #E0002E;
}

html, body {
  margin: 0 auto;
}

body {
  font-family:"Roboto", Arial, sans-serif;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}

.home {
  background: #000000;
}

.exercises {
  background: #70F04D;
}

.presentations {
  background: #F09D65;
}

.projects {
  background: #752DF0;
}

.reflections {
  background: #20B8F0;
}

.about {
  background: #F0629A;
}

#intro-link {
  color: var(--intro-title-color);
  text-decoration: none;
}

.container {
  width: 100%;
  height: 97vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;*/
}

.wrapper {
  /* border: 1px solid red;*/
  padding: 8%;
}

.fas {
  font-size: 35px;
  transition: font-size 250ms ease-out;
}

.fas:hover {
  font-size: 37px;
}


#intro-title {
  font-family: "DM Mono", Courier, monospace;
  font-size: 4em;
  color: var(--intro-title-color);
  text-align: left;
  width: 7ch;
  /* border: 1px solid blue;*/
}

.blinking-cursor {
  display: inline-block;
  position: relative;
}

.blinking-cursor::after {
  background: none repeat scroll 0 0 transparent;
  top: 0;
  content: "";
  display: block;
  height: 0.15em;
  left: calc(100%-1ch);
  position: absolute;
  background: var(--intro-title-color);
  animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
  width: 1ch;
}

.pseudo {
  color: var(--intro-title-color);
  text-decoration: none;
  display: inline-block;
  /* padding: 15px 20px;*/
  position: relative;
  transition: color 500ms ease;
}

.pseudo::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 13%;
  content: "";
  display: block;
  height: 0.15em;
  left: 84%;
  position: absolute;
  background: var(--intro-title-color);
  animation: under 1s 1 ease-in forwards 1s;
  width: 1ch;
  transition: background 500ms ease;
}

.pseudo:hover {
  color: var(--intro-link-color);
}

.pseudo:hover::after {
  background: var(--intro-link-color);
}

@keyframes "under" {
  0%   { width: 1ch; left: 84%;}
  100% { width: 6ch; left: 0;}
}

@-webkit-keyframes "under" {
  0%   { width: 1ch; left: 84%;}
  100% { width: 6ch; left: 0;}
}

/* Blinking cursor effect adapted from Artem Gordinsky:
  https://codepen.io/ArtemGordinsky/pen/GnLBq */

@keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: var(--intro-title-color);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    background: transparent;
  }
  50% {
    background: var(--intro-title-color);
  }
}

img.portal {
  height: 75vh;
  position: absolute;
  z-index:-1;
  opacity: 0.3;
}

.homepage-grid {
  display: grid;
  width: inherit;
  height: inherit;
  grid-template-rows: 85% 15%;
  grid-template-areas:
    "portal"
    "destination";
}

.portal-animation {
  grid-area: portal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  width: 80px;
  height: 80px;
  display: flex;
}

.category-icon {
  width: 60px;
  height: auto;
  transition: width 300ms ease;
  margin: auto;
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px 1px 0 black)
                  drop-shadow(1px -1px 0 black)
                  drop-shadow(-1px -1px 0 black);

  filter: drop-shadow(1px 1px 0 black)
          drop-shadow(-1px 1px 0 black)
          drop-shadow(1px -1px 0 black)
          drop-shadow(-1px -1px 0 black);
}

.category-icon:active {
   width: 55px;
}

.homepage-link {
  margin: auto;
}

.destination-display {
  grid-area: destination;
  margin: auto;
  font-size: 2em;
  width: 13ch;
  height: 100%;
  /* border: 1px solid white;*/
  font-family: "DM Mono", Courier, monospace;
  font-weight: 400;
  color: #931BF0;
}

.destination-tag {
  margin: 0;
}

#destination {
  color: #ebebeb;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.overlay {
  height: 78vh;
  position: absolute;
  z-index: -2;
  display: inline-block;
}

#exercises-overlay {
  display: none;
  opacity: 0;
  transition: all 500ms linear;
}

#reflections-overlay {
  display: none;
  opacity: 0;
  transition: all 500ms linear;
}

#presentation-overlay {
  display: none;
  opacity: 0;
  transition: all 500ms linear;
}

#project-overlay {
  display: none;
  opacity: 0;
  transition: all 500ms linear;
}

#about-overlay {
  display: none;
  opacity: 0;
  transition: all 500ms linear;
}

#default-overlay {
  display: none;
  opacity: 0;
  transition: all 500ms linear;
}

.rotate {
  animation: rotation 7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.exercise1{
  background-color: #101010;
}

.exercise-button {
  font-size: 4em;
  padding: 0.27em;
}

.ex-title {
  text-align: center;
  text-transform: uppercase;
  color: #ebebeb;
  margin: auto;
  opacity: 0.3;
}

.proposal {
  color: #101010;
  background-color:#ebebeb;
  line-height: 1.5em;
}

.proposal > h2, .proposal > h3 {
  text-align: left;
}

.proposal.wrapper {
/*  border: 1px solid yellow;*/
  width: 70%;
  max-width: 1000px;
  height: auto;
  margin: auto;

}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;

}

a {
  color: #4777F0;
  text-decoration: underline;
}

a:hover {
  color: #568EF5;
}

.red {
  color: #D04FF0;
}

.storyboard {
  width: 100%;
  margin-bottom: 1em;
}

.storyboard-wide {
  width: 100%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 400px)  {

  #intro-title {
     font-size: 15vw;
    /* border: 1px solid blue; */
  }

}

@media screen and (min-width: 600px)  {

  #intro-title {
    font-size: 5em;
    width: 13ch;
    /* border: 1px solid blue; */
  }

}

@media screen and (min-width: 1000px) {



}

@media screen and (min-width: 1400px) {

  #intro-title {
    font-size: 6.5vw;
    /* border: 1px solid blue; */
  }

  img.portal {
    height: 80vh;
  }

  .overlay {
    height: 83vh;
  }

  .homepage-grid {
    display: grid;
    height: 100%;
    margin-right: 4em;
    margin-left: 4em;
    grid-template-columns: calc((90vw - 80vh)/2) 80vh calc((90vw - 80vh)/2);
    grid-template-rows: auto;
    grid-template-areas:
      ". portal ."
      ". portal ."
      ". portal destination"
  }

  .portal-animation {
    height: 100%;
  }

  .destination-display {
    grid-area: destination;
    width: 100%;
    text-align: left;
    font-size: 2em;
    font-family: "DM Mono", Courier, monospace;
    font-weight: 400;
    color: #931BF0;
  }

  .destination-tag {
    width: 13ch;
  }

}
